.login {
    background-color: #444 !important;
}

    .login .logo {
        margin: 0 auto;
        margin-top: 60px;
        padding: 15px;
        text-align: center;
        color: #fff;
    }

    .login .content {
        background-color: #fff;
        width: 360px;
        margin: 0 auto;
        margin-bottom: 0px;
        padding: 30px;
        padding-top: 20px;
        padding-bottom: 15px;
    }

    .login .copyright {
        text-align: center;
        margin: 0 auto;
        padding: 10px;
        color: #999;
        font-size: 11px;
    }

@media (max-width: 480px) {
    .login .content {
        padding: 20px;
        width: 280px;
    }
}
