body {
    /*padding-top: 50px;*/
    /*background-color: #3d3d3d;
    color: #000;*/
    color: #000;
    font-family: 'Microsoft YaHei',sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    direction: ltr;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 300px;
}

.error {
    color: #a94442;
}

.page-header-fixed .page-container {
    margin-top: 42px;
}

.header {
    width: 100%;
    padding: 0 20px 0 20px;
    margin: 0;
    border: 0px;
    padding: 0px;
    box-shadow: none;
    height: 42px;
    min-height: 42px;
}

    .header .navbar-brand {
        display: inline-block;
        margin-top: -1px;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        width: 225px;
        height: 44px !important;
    }

    .header .navbar-nav {
        margin-right: 20px;
        display: block;
    }

    .header .navbar-toggle {
        margin: 8px 6px 4px 6px;
        padding: 0;
        padding-top: 2px;
        padding-bottom: 6px;
        background-image: none;
        filter: none;
        box-shadow: none;
        color: #fff;
        border: 0;
    }

    .header .navbar-nav li.dropdown.user .dropdown-toggle i {
        display: inline-block;
        margin-top: 5px;
        margin: 0;
        font-size: 10px;
    }

    .header .navbar-nav > li.dropdown, .header .navbar-nav > li.dropdown > a {
        padding-left: 4px;
        padding-right: 4px;
    }

    .header .navbar-nav > li {
        margin: 0px;
        padding: 0px;
    }

        .header .navbar-nav > li.dropdown.user .dropdown-toggle {
            padding: 7px 4px 6px 9px;
        }

        .header .navbar-nav > li.dropdown .dropdown-toggle {
            margin: 0px;
            padding: 15px 10px 7px 10px;
        }

.nav.pull-right > li > .dropdown-menu, .nav > li > .dropdown-menu.pull-right {
    right: 0;
    left: auto;
}

.dropdown-menu li > a {
    padding: 6px 0 6px 13px;
    color: #333;
    text-decoration: none;
    display: block;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    white-space: nowrap;
}

.page-container {
    margin: 0px;
    padding: 0px;
    position: relative;
}

.page-sidebar-wrapper {
}

.page-content-wrapper {
    float: left;
    width: 100%;
}

.footer {
    clear: left;
    padding: 8px 20px 5px 20px;
    font-size: 12px;
    overflow: hidden;
}

    .footer .footer-inner {
        float: left;
        display: inline-block;
    }

    .footer .footer-tools {
        float: right;
        display: inline-block;
    }

        .footer .footer-tools .go-top {
            display: block;
            text-decoration: none;
            cursor: pointer;
            margin-top: -2px;
            margin-right: 0px;
            margin-bottom: 0px;
            font-size: 16px;
            padding: 0px 6px 0px 6px;
        }
