@using Apps.Core;
@{
    ViewBag.Title = "权限管理系统";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <p>欢迎使用权限管理系统</p>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            console.log("执行主页的js");
        });
    </script>
}
