@using Apps.Core;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div >
    这个是内容区域
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            console.log("执行主页的js");
        });
    </script>
}
